@model IEnumerable<OryxWestAfrica.Models.Picture>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PictureName)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.Image)
                </th>*@
            @*<th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Differentiator)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>*@
        @*@foreach (var item in Model)
        {*@
            @*<tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PictureName)
                </td>*@
                @*<td>
                        @Html.DisplayFor(modelItem => item.Image)
                    </td>*@
                @*<td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Differentiator)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.PictureID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.PictureID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.PictureID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>*@
<div class="row">
    @{
        List<OryxWestAfrica.Models.Picture> pix = ViewBag.Mee;
        @foreach (var pictures in pix)
        {




            <div class="col-lg-2">
                <a asp-action="Edit" asp-controller="Pictures" asp-route-id="@pictures.PictureID">

                    <img src="@string.Format("data:image/gif;base64,{0}", Convert.ToBase64String(pictures.Image))" style="max-width:250px; max-height:250px" />@pictures.PictureID
                </a>
            </div>




        }
    }
</div>
