@model IEnumerable<OryxWestAfrica.Models.Picture>

@{
    ViewData["Title"] = "Index";
}

@*<h2>Index</h2>*@


<div class="container">
    <div class="row"></div>
    <div class="row"></div>
    <div class="row"></div>
    <div class="blue-grey lighten-4 black-text darken-text-2 center">
        <div></div>
        <p><h3>PICTURE</h3></p>
    </div>

    @*<div class="container">*@
    <div class="row"></div>
    <div class="row"></div>
    <div class="row"></div>

   


    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.PictureName)
                </th>
                @*<th>
                        @Html.DisplayNameFor(model => model.Image)
                    </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Differentiator)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.PictureName)
                    </td>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.Image)
                        </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Differentiator)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.PictureID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.PictureID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.PictureID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>





</div>